<!-- FILEPATH: c:\Users\PC\Documents\UVG\NASA 2023\DataNASA2023\Proyect\src\components\ListStarComponent\ListStar.html -->
<!DOCTYPE html>
<html>

<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo-->
    <title>Space Access</title>

    <!--Scripts-->
    
    <link rel="stylesheet" href="ListStar.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <a href="/index.html" class="titleCenter">
        <img src="/src/assets/Logos/spaceAcessComplete.png" class="imgLogo">
    </a> 
    <div class="displaysComplete">
        <svg class="fondo" xmlns="http://www.w3.org/2000/svg" width="1388" height="873" viewBox="0 0 1388 873" fill="none">
            <path d="M761.5 0.5C658.5 132.333 514.3 491.3 761.5 872.5M137.492 0.5C34.4919 132.333 -109.708 491.3 137.492 872.5M1387.5 0.5C1284.5 132.333 1140.3 491.3 1387.5 872.5" stroke="white"/>
          </svg>
          <svg class="fondo2" xmlns="http://www.w3.org/2000/svg" width="1388" height="873" viewBox="0 0 1388 873" fill="none">
            <path d="M761.5 0.5C658.5 132.333 514.3 491.3 761.5 872.5M137.492 0.5C34.4919 132.333 -109.708 491.3 137.492 872.5M1387.5 0.5C1284.5 132.333 1140.3 491.3 1387.5 872.5" stroke="white"/>
          </svg>
        <div class="display1">
            <div class="displayrow">
                <div>
                    <img src="/src/assets/img/image12.png" class="preview">
                </div>
                <div style="margin-left: 1rem;">
                    <label>Nombre </label>
                    <p>System, galacy, etc.</p>
                </div>
            </div>
            <div class="displayrow">
                <div>
                    <img src="/src/assets/img/image12.png" class="preview">
                </div>
                <div style="margin-left: 1rem;">
                    <label>Nombre </label>
                    <p>System, galacy, etc.</p>
                </div>
            </div>
        </div>
        <div class="display2">
            <div class="displayrow">
                <div>
                    <img src="/src/assets/img/image12.png" class="preview">
                </div>
                <div style="margin-left: 1rem;">
                    <label>Nombre </label>
                    <p>System, galacy, etc.</p>
                </div>
            </div>
            <div class="displayrow">
                <div>
                    <img src="/src/assets/img/image12.png" class="preview">
                </div>
                <div style="margin-left: 1rem;">
                    <label>Nombre </label>
                    <p>System, galacy, etc.</p>
                </div>
            </div>
        </div>
        <div class="displayrow display3">
            <div>
                <img src="/src/assets/img/image12.png" class="preview">
            </div>
            <div style="margin-left: 1rem;">
                <label>Nombre </label>
                <p>System, galacy, etc.</p>
            </div>
        </div>
        
    </div>
    
</body>
</html>
