<!-- FILEPATH: c:\Users\PC\Documents\UVG\NASA 2023\DataNASA2023\Proyect\src\components\ListStarComponent\ListStar.html -->
<!DOCTYPE html>
<html>

<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo-->
    <title>Space Access</title>

    <!--Scripts-->
    <script src="listStarindex.js"></script>
    <script src="../../viewExoplanet.js"></script>
    
    <link rel="stylesheet" href="ListExoplanets.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,400&display=swap" rel="stylesheet">

    <style>
        a, a:visited, a:hover, a:active {
            color: inherit;
            text-decoration: none;
        }
        a:focus {
            outline: none;
        }
    </style>
</head>
<body>
    <a href="/index.html" class="titleCenter">
        <img src="/src/assets/Logos/spaceAcessComplete.png" class="imgLogo">
    </a> 
    <div class="displaysComplete">
        <svg class="fondo" xmlns="http://www.w3.org/2000/svg" width="1388" height="873" viewBox="0 0 1388 873" fill="none">
            <path d="M761.5 0.5C658.5 132.333 514.3 491.3 761.5 872.5M137.492 0.5C34.4919 132.333 -109.708 491.3 137.492 872.5M1387.5 0.5C1284.5 132.333 1140.3 491.3 1387.5 872.5" stroke="white"/>
          </svg>
          <svg class="fondo2" xmlns="http://www.w3.org/2000/svg" width="1388" height="873" viewBox="0 0 1388 873" fill="none">
            <path d="M761.5 0.5C658.5 132.333 514.3 491.3 761.5 872.5M137.492 0.5C34.4919 132.333 -109.708 491.3 137.492 872.5M1387.5 0.5C1284.5 132.333 1140.3 491.3 1387.5 872.5" stroke="white"/>
          </svg>
        <div class="display1">
            <a href="/src/components/viewExoplanetComponent/viewExoplanet.html" style="color: inherit; text-decoration: none;">
                <div class="displayrow star" onclick="setPlanetIndex(0);">
                    <img src="/src/assets/img/exoplanet.png" class="preview">
                    <div style="margin-left: 1rem;">
                        <label>Nombre </label>
                        <p>System, galacy, etc.</p>
                    </div>
                </div>
            </a>
            <a href="/src/components/viewExoplanetComponent/viewExoplanet.html" style="color: inherit; text-decoration: none;">
                <div class="displayrow star" onclick="setPlanetIndex(1);">
                    <img src="/src/assets/img/exoplanet.png" class="preview">
                    <div style="margin-left: 1rem;">
                        <label>Nombre </label>
                        <p>System, galacy, etc.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="display2">
            <a href="/src/components/viewExoplanetComponent/viewExoplanet.html" style="color: inherit; text-decoration: none;">
                <div class="displayrow star" onclick="setPlanetIndex(2);">
                        <img src="/src/assets/img/exoplanet.png" class="preview">
                    <div style="margin-left: 1rem;">
                        <label>Nombre </label>
                        <p>System, galacy, etc.</p>
                    </div>
                </div>
            </a>
            <a href="/src/components/viewExoplanetComponent/viewExoplanet.html" style="color: inherit; text-decoration: none;">
                <div class="displayrow star" onclick="setPlanetIndex(3);">
                        <img src="/src/assets/img/exoplanet.png" class="preview">
                    <div style="margin-left: 1rem;">
                        <label>Nombre </label>
                        <p>System, galacy, etc.</p>
                    </div>
                </div>
            </a>
        </div>
        <a href="/src/components/viewExoplanetComponent/viewExoplanet.html" style="color: inherit; text-decoration: none;">
            <div class="displayrow display3 star" onclick="setPlanetIndex(4);">
                <img src="/src/assets/img/exoplanet.png" class="preview">
                <div style="margin-left: 1rem;">
                    <label>Nombre </label>
                    <p>System, galacy, etc.</p>
                </div>
            </div>
        </a>
        
    </div>
    
</body>


</html>
