body{
    margin: 0rem;
    font-family: 'Lato', sans-serif;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -1000 !important;
    overflow: hidden;
}
.bodyIndex{
    background-color: black;
}

.absoluteLogo{
    position: absolute;
    left: 1%;
    top: -4%;
    color: #D9DBF0;
    font-size: 30px;
}
svg{
    position: absolute;
    left: 0.8rem;
    top: 1rem;
}
.topRight{
    position: absolute;
    right: 1%;
    top: 1%;
    color: #D9DBF0;
    font-size: 20px;
}
.topRight input{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    border: 0rem;
    padding: 1rem;
    padding-left: 2.5rem;
    color: #D9DBF0;
    background-color: #ffffff00;
    margin-bottom: 0.4rem;
    font-size: 18px;
    border: 2px solid #D9DBF0 ;
}
.topRight h4{
    margin: 0rem;
    padding: 0rem;
    font-weight: 300;
    font-size: 20px;
}
.absolutedivCenter{
    z-index: 10000000000000 !important;
    position: absolute !important;
    background-color: rgba(240, 248, 255, 0) !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.absolutedivRight{
    display: block;
    position: absolute !important;
    background-color: rgba(240, 248, 255, 0) !important;
    top: 50%;
    right: -00px;
    transform: translate(-50%, -50%);
    text-align: right;
    visibility: hidden;
    color: #D9DBF0;
    
}
.absolutedivLeft{
    display: block;
    position: absolute !important;
    background-color: rgba(240, 248, 255, 0) !important;
    top: 40%;
    right: 78%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    visibility: hidden;
  }
.absolutedivRight h3{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 0rem;
    padding: 0rem;

}
.absolutedivLeft h3{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 0rem;
    padding: 0rem;

}
.absolutedivRight h4{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0rem;
    padding:  0.5rem 0rem;
    color: rgba(255, 255, 255, 0.726);
}
.absolutedivLeft h4{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0rem;
    padding:  0.5rem 0rem;
    color: rgba(255, 255, 255, 0.726);

}
.infoPlanet{
    padding: 2rem 0rem;
}
h1{
    font-size:69px;
    margin: 0rem;
    padding: 1rem 0rem;
    letter-spacing: 15px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
h2{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 15px;
}
h4{
    font-family: 'Lato', sans-serif;
    letter-spacing: 13px;
    font-weight: 600;
    margin-top: 2.8rem;
}
.encabezado{
    margin: 0rem;
    padding: 1rem 0rem;
}
.encabezadoActual{
    margin: 0rem;
    padding: 1rem 0rem;
    font-weight: 600;
}
.encabezadoActual h5{
    font-weight: 600;
}
h5{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 10px;
    cursor: pointer;
    margin: 0rem;
    padding: 0rem;
}
h5:hover{
    font-weight: 800;

}


button{
    margin-top: 5rem;
    cursor: pointer;
    padding: 1rem;
    border: 0rem;
    border-radius: 5rem;
    background-color: rgba(0, 0, 0, 0.747);
    font-family: 'Lato', sans-serif;
    color: #D9DBF0;
    font-weight: 800 !important;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    letter-spacing: 5px;

}
button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.absolutedivCircle{
    position: absolute !important;
    background-color: rgba(240, 248, 255, 0) !important;
    position: absolute;
    top: 5%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
}

.circle {
    position: absolute !important;
    width: 45%;
    height: 90%;
    border: 1px dashed #ffffffc9;
    border-radius: 50%;
    animation: spin 30s linear infinite; /* Animación llamada "spin" */
    z-index: 1;

}
.point {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 0;
}

.absolutedivCircle2{
    position: absolute !important;
    background-color: rgba(240, 248, 255, 0) !important;
    position: absolute;
    top: 0.5%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.circle2 {
    position: absolute !important;
    width: 50%;
    height: 100%;
    border: 1px dashed #ffffffc9;
    border-radius: 50%;
    animation: spin2 30s linear infinite; /* Animación llamada "spin" */
}
.point2 {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 0;
}
@keyframes spin2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg); /* Gira 360 grados completos */
    }
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg); /* Gira 360 grados completos */
    }
}


img{
    color: white;
    fill: white !important;

}
.text{
    position: absolute;
    align-items: center !important;
    text-align: center !important;
    padding: 0rem 5rem;
}


.estrellaCSS{

    margin: 0rem;
    padding: 0rem;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
}
.carousel-container {
    z-index: 100000000000;
    position: absolute;
    bottom: 1rem;
    left: auto;
    right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .carousel-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    opacity: 80%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .carousel-item.active {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.29);
  }
  .carousel-item img {
    width: 100%;
    border-radius: 50%;
  }
  .carousel-arrow {
    position: absolute;
    top: -15%;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
  }
  .carousel-arrow.left {
    left: -40px;
  }
  .carousel-arrow.right {
    right: -40px;
  }
  a{
    text-decoration: none;
    color: inherit;
  }

  .DivExoplaneta{
    display: none;
  }
  .Exoplaneta {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at 100% 100%, hsl(0, 0%, 15%) 40%, hsl(0, 0%, 0%) 100%);
    box-shadow: 0 0 10px hsl(200, 100%, 80%);
  }
  
  .lineDescription {
    position: absolute;
    width: 100px; /* Longitud de la línea */
    height: 2px; /* Grosor de la línea */
    border-radius: 1rem;
    background-color: rgb(255, 255, 255); /* Color de la línea */
    top: 25%;
    left: 78%;
    transform: translate(-50%, -50%) rotate(45deg); /* Posicionar y rotar la línea */
  }
  
  .lineDescription::before {
    content: "Exoplaneta"; /* Nombre del exoplaneta */
    position: absolute;
    right: 100%; /* Posicionar el nombre al inicio de la línea */
    top: 50%;
    transform: translateY(-50%); /* Centrar verticalmente el texto */
    margin-right: 10px; /* Espacio entre la línea y el texto */
    color: rgb(255, 255, 255); /* Color del texto */
    font-size: 14px; /* Tamaño del texto */
  }
  
  .iconBack{
    margin-top: 2rem;
    font-size: 30px;
  }
  .displayrow{
    display: flex;
    flex-direction: row;
  }
  .logo{
    margin-bottom: 1rem;
    width: 70%;
    margin-top: 2.5rem;
    margin-right: 1rem;
  }
  .imgLogo{
    margin-top: 1rem;
    cursor: pointer;
  }


  .courser{
    cursor: pointer;
  }

  .titulo{
    width: 500px !important;
    text-align: center !important;
  }
  .absolutedivCenter h1{
    width: 500px !important;
    text-align: center !important;
  }


  .asdf{
    background-color: #D9DBF0;
    color: black;
  }

  span{
    color: white;
  }