body{
    margin: 0rem;
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.747);
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -1000 !important;
    overflow: hidden;
}

.absoluteLogo{
    position: absolute;
    left: 1%;
    top: -4%;
    color: white;
    font-size: 40px;
}
svg{
    position: absolute;
    left: 0.8rem;
    top: 1rem;
}
.topRight{
    position: absolute;
    right: 1%;
    top: 1%;
    color: white;
    font-size: 20px;
}
.topRight input{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    border: 0rem;
    padding: 1rem;
    padding-left: 2.5rem;
    color: white;
    background-color: #ffffff00;
    margin-bottom: 0.4rem;
    font-size: 18px;
    border: 2px solid white ;
}
.topRight h4{
    margin: 0rem;
    padding: 0rem;
    font-weight: 300;
    font-size: 20px;
}
.absolutedivCenter{
    position: absolute !important;
    background-color: rgba(240, 248, 255, 0) !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.absolutedivRight{
    position: absolute !important;
    background-color: rgba(240, 248, 255, 0) !important;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    text-align: right;
    color: white;
    

}
.absolutedivRight h3{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 0rem;
    padding: 0rem;

}
.absolutedivRight h4{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0rem;
    padding:  0.5rem 0rem;
    color: rgba(255, 255, 255, 0.726);

}
.infoPlanet{
    padding: 2rem 0rem;
}
h1{
    font-size: 85px;
    margin: 0rem;
    padding: 1rem 0rem;
    letter-spacing: 15px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
h2{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 15px;
}
h4{
    font-family: 'Lato', sans-serif;
    letter-spacing: 10px;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.15rem solid rgba(255, 255, 255, 0.651);
}
.encabezado{
    margin: 0rem;
    padding: 1rem 0rem;
}
h5{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 10px;
    cursor: pointer;
    margin: 0rem;
    padding: 0rem;
}
h5:hover{
    font-weight: 800;

}


button{
    margin-top: 5rem;
    cursor: pointer;
    padding: 1rem;
    border: 0rem;
    border-radius: 5rem;
    background-color: rgba(0, 0, 0, 0.747);
    font-family: 'Lato', sans-serif;
    color: rgba(255, 255, 255, 0.842);
    font-weight: 800 !important;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    letter-spacing: 5px;

}
button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.absolutedivCircle{
    position: absolute !important;
    background-color: rgba(240, 248, 255, 0) !important;
    position: absolute;
    top: 5%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
}

.circle {
    position: absolute !important;
    width: 45%;
    height: 90%;
    border: 1px dashed #ffffffc9;
    border-radius: 50%;
    animation: spin 30s linear infinite; /* Animación llamada "spin" */
    z-index: 1;

}
.point {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 0;
}

.absolutedivCircle2{
    position: absolute !important;
    background-color: rgba(240, 248, 255, 0) !important;
    position: absolute;
    top: 0.5%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.circle2 {
    position: absolute !important;
    width: 50%;
    height: 100%;
    border: 1px dashed #ffffffc9;
    border-radius: 50%;
    animation: spin2 30s linear infinite; /* Animación llamada "spin" */
}
.point2 {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 0;
}
@keyframes spin2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg); /* Gira 360 grados completos */
    }
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg); /* Gira 360 grados completos */
    }
}


img{
    color: white;
    fill: white !important;

}
.text{
    position: absolute;
    align-items: center !important;
    text-align: center !important;
    padding: 0rem 5rem;
}


.estrellaCSS{

    margin: 0rem;
    padding: 0rem;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
}
.carousel-container {
    z-index: 100000000000;
    position: absolute;
    bottom: 1rem;
    left: auto;
    right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .carousel-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    opacity: 80%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .carousel-item.active {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.29);
  }
  .carousel-item img {
    width: 100%;
    border-radius: 50%;
  }
  .carousel-arrow {
    position: absolute;
    top: -15%;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
  }
  .carousel-arrow.left {
    left: -40px;
  }
  .carousel-arrow.right {
    right: -40px;
  }