
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo-->
    <title>Space Access</title>

    <!--Scripts-->
    
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="/src/components/contactcomponent/contactos.css">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,400&display=swap" rel="stylesheet">
</head>  
<!--Controles para cambiar de estrella-->
<body>
    <div class="backgroundBlack">
        <a href="/index.html">
            <img src="/src/assets/Logos/logoCentrado.png" class="imgLogo">
        </a>        
        <div class="displayrow" style="border-top: 2px solid white;">
                <a href="/src/components/galerycomponent/galery.html">
                    <div class="encabezado">
                        <h5>GALLERY</h5>
                    </div>
                </a>
                <a href="/src/components/contactcomponent/contactos.html">
                    <div class="encabezadoActual">
                        <h5>CONTACT</h5>
                    </div>
                </a>
                <a href="/src/components/aboutUsComponent/aboutUs.html">
                    <div class="encabezado">
                        <h5>ABOUT US</h5>
                    </div>
                </a>
            </div>
            <div class="displayrow" style="margin: 2rem 0em;">
                <svg  class="iconEmail" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                <a href="mailto:spaceaccess@gmail.com">
                    <h5 class="textEmail"> spaceaccess@gmail.com</h5>
                </a>
            </div>
            <div class="parrafo">
                <p>We are a team passionate about astronomy, that's why we bring space access to you. Contact us to know your opinion and to improve your experience navigating through space.</p>
            </div>

        </div>
</body>