<!--SA-2977-->

<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo-->
    <title>Space Access</title>

    <!--Scripts-->
    
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="./historyExoplanet.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,400&display=swap" rel="stylesheet">
</head>  
<!--Controles para cambiar de estrella-->
<body>
  <h1>SA-2977</h1>

  <div class="displayrow">
    <p>Bienvenidos a SA-2977, un exoplaneta único en el espacio, donde te espera una oportunidad de vida inigualable. En este rincón del universo, la tranquilidad y la serenidad son la norma, y a pesar de las bajas temperaturas que lo caracterizan, la belleza y la abundancia son parte integral de cada paisaje.</p>
  </div>
</body>

