
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo-->
    <title>Space Access</title>

    <!--Scripts-->
    
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="/src/components/contactcomponent/contactos.css">
    <link rel="stylesheet" href="/src/components/aboutUsComponent/aboutUs.css">



    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,400&display=swap" rel="stylesheet">
</head>  
<!--Controles para cambiar de estrella-->
<body>
    <div class="backgroundBlack">
        <a href="/index.html">
            <img src="/src/assets/Logos/logoCentrado.png" class="imgLogo">
        </a>        
        <div class="displayrow" style="border-top: 2px solid white;">
                <a href="/src/components/galerycomponent/galery.html">
                    <div class="encabezado">
                        <h5>GALLERY</h5>
                    </div>
                </a>
                <a href="/src/components/contactcomponent/contactos.html">
                    <div class="encabezado">
                        <h5>CONTACT</h5>
                    </div>
                </a>
                <a href="/src/components/aboutUsComponent/aboutUs.html">
                    <div class="encabezadoActual">
                        <h5>ABOUT US</h5>
                    </div>
                </a>
            </div>
            
            <div class="parrafo">
                <p>We are a university team from Guatemala; proudly representing our astronomer ancestors. This page was created with the purpose of facilitating space access to the public and facilitating space monitoring for both scientists and the youngest at home. Contact us to know your opinion</p>    
            </div>
            <div>
                <p>Work team:</p>
                <p>Adam Sebastian Rios Kirste</p>
                <p>Debora Estrada Gongora</p>
                <p>Bryan Carlos España Machorro</p>
                <p>Joaquin Puente</p>
                <p>Edgar Humberto Reyes Ortiz</p>
                <p></p>
            </div>
        </div>
</body>