
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo-->
    <title>Space Access</title>

    <!--Scripts-->
    
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="/src/components/galerycomponent/galery.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,400&display=swap" rel="stylesheet">
</head>  
<!--Controles para cambiar de estrella-->
<body>
    <a href="/index.html">
        <img src="/src/assets/Logos/spaceAcessComplete.png" class="imgLogo">
    </a>        <div class="displayrow">
            <a href="/src/components/galerycomponent/galery.html">
                <div class="encabezadoActual">
                    <h5>HOME</h5>
                </div>
            </a>
            <a href="/src/components/contactcomponent/contactos.html">
                <div class="encabezado">
                    <h5>CONTACT</h5>
                </div>
            </a>
            <a href="/src/components/aboutUsComponent/aboutUs.html">
                <div class="encabezado">
                    <h5>ABOUT US</h5>
                </div>
            </a>
        </div>
        a
        <div class="divtitle">

        </div>

        <div class="imagenes">
                <a href="../viewExoplanetComponent/viewExoplanet.html">
                    <label class="title1">Our habitable</label>
                    <label class="title1" style="margin-top: 5rem; margin-left: 2rem;"> exoplanet</label>

                    <img src="/src/assets/img/exoplanetIA.png" class="imagenesss">
                </a>
                <a href="../ListStarComponent/ListStar.html">
                    <label class="title2" style="margin-right: 2.5rem;">Star</label>
                    <label class="title2" style="margin-top: 5rem;">viewing</label>
                    <img src="https://stsci-opo.org/STScI-01GTYANA7SNWZAFTFRDHQB8CHD.png" class="imagenesss">
                </a>
        </div>

</body>

