
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo-->
    <title>Space Access</title>

    <!--Scripts-->
    
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="/src/components/galerycomponent/galery.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,400&display=swap" rel="stylesheet">
</head>  
<!--Controles para cambiar de estrella-->
<body>
        <img src="/src/assets/Logos/spaceAcessComplete.png" style="margin-top: 1rem;">
        <div class="displayrow">
                <div class="encabezadoActual">
                    <h5>GALLERY</h5>
                </div>            
            <div class="encabezado">
                <h5>CONTACT</h5>
            </div>
            <div class="encabezado">
                <h5>ABOUT US</h5>
            </div>
        </div>
        <div class="imagenes">
            <img src="https://stsci-opo.org/STScI-01GKMKRHSSCD5RKJYSB4DFH8D8.png">
            <img src="https://stsci-opo.org/STScI-01H9NV4H0M03PQ6W0J2NBZD8EH.png">
            <img src="https://stsci-opo.org/STScI-01H6C14BSMN1TWHTFS7V7K4TXY.png"> 
            <img src="https://stsci-opo.org/STScI-01H82GANSY85GHFY3Y2FN9R65P.png">
            <img src="https://stsci-opo.org/STScI-01H530BR24BZMXSY06PCR4E1EC.jpg">
            <img src="https://stsci-opo.org/STScI-01H44AY5ZTCV1NPB227B2P650J.png">
            <img src="https://stsci-opo.org/STScI-01H5MXKYBJH0TBXD1GDDTA87HW.jpg">
            <img src="https://stsci-opo.org/STScI-01H3D3FR2HXPQFNWBY095VX5HK.png">
            <img src="https://stsci-opo.org/STScI-01GTYANA7SNWZAFTFRDHQB8CHD.png">
        </div>

</body>

