
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo-->
    <title>Space Access</title>

    <!--Scripts-->
    <script src="../../../js/three.js"></script>
    <script src="../../index.js" type="module"></script>
    
    <link rel="stylesheet" href="../../../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,400&display=swap" rel="stylesheet">
</head>  
<!--Controles para cambiar de estrella-->
<div>
    <div>
        <!--<img src="/Proyect/src/assets/icons/chevron_left.svg">-->
    </div>
</div>

