
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo-->
    <title>Space Access</title>

    <!--Scripts-->
    <script src="../../../js/three.js"></script>
    <script src="../../viewExoplanet.js" type="module"></script>

    
    <!--Estilos-->
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="./viewExoplanet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,400&display=swap" rel="stylesheet">
</head>

<body class="bodyIndex" id="scene-container">
<!--Boton de regresar-->
<div class="absoluteLogo  classToShow courser" style="display:block" id="backButton">
    <svg id="returnBackToSelector" class="iconBack" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
</div>
    
<!--Información derecha-->
<div  class="absolutedivRight ">
    <h1 class="NombreExo">NAME</h1>
    <div class="infoPlanet">
        <h3 class="subExo">Distance</h3>
        <h4 id="distance">00000</h4>
    </div>
    <div class="infoPlanet">
        <h3 class="subExo">Mass</h3>  
        <h4 id="mass">00000</h4> 
    </div>
    <div class="infoPlanet">
        <h3 class="subExo">Radio</h3>
        <h4 id="radius">00000</h4>
    </div>
    <div class="infoPlanet">
        <h3 class="subExo">Temperature</h3>
        <h4 id="temperature">00000</h4>
    </div>
    <!-- index.html -->
</div>

<div class=" absolutBottom " >
    <a  href="../HistoryExoplanet/historyExoplanet.html">
        <p class="whiteA">See</p>
        <p class="whiteA"> Exoplanet</p>
    </a>
</div>



<!--Scripts-->
<script>
    const items = document.querySelectorAll('.carousel-item');
    let activeIndex = 0;
  
    items.forEach((item, index) => {
      item.addEventListener('click', () => {
        items[activeIndex].classList.remove('active');
        item.classList.add('active');
        activeIndex = index;
      });
    });

    document.getElementById("backButton").addEventListener("click", function() {
    window.history.back();
});

  </script>
  
  
</body>
